*
{
    box-sizing: border-box;
}

body
{   
    margin: 5px;
    padding: 0px;
    background: #fd9535 ;
    
   
}

.container-1
{
    text-align: center;
    border: 2px;
    border-style: solid;
    padding: 10px;
    border-radius: 9px;
}
/* -----------------------------------------------  */
.container-flexbox-1 , .container-flexbox-8, .container-flexbox-9, .container-flexbox-10, .container-flexbox-11
{
    border: 1px;
    height: auto ;
    width: 650px;
    padding: 5px;
    border-radius: 8px;
    margin:  auto;
    margin-top: 5px;
    background-color: #abf0e9 ;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}

.container-flexbox-2, .container-flexbox-3, .container-flexbox-4, .container-flexbox-5, .container-flexbox-6, .container-flexbox-7
{
    border: 1px;
    height: auto;
    width: 650px;
    padding: 5px;
    border-radius: 8px;
    margin:  auto;
    margin-top: 5px;
    background-color: #abf0e9 ; 
    -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

/*  Question Box  */

.container-flexbox-1-que-1, .container-flexbox-2-que-2, .container-flexbox-3-que-3, .container-flexbox-4-que-4, .container-flexbox-5-que-5, .container-flexbox-6-que-6, .container-flexbox-7-que-7, .container-flexbox-8-que-8, .container-flexbox-9-que-9, .container-flexbox-10-que-10
{
    
    height: auto;
    background-color: #ee8572;
    border-radius: 8px;
}

.container-flexbox-1-que-1 h3 , .container-flexbox-2-que-2 h3, .container-flexbox-3-que-3 h3, .container-flexbox-4-que-4 h3, .container-flexbox-5-que-5 h3, .container-flexbox-6-que-6 h3, .container-flexbox-7-que-7 h3, .container-flexbox-8-que-8 h3, .container-flexbox-9-que-9 h3, .container-flexbox-10-que-10 h3
{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: left;
    padding: 10px;
}

/* Options Block */

.container-flexbox-1-options-1, .container-flexbox-2-options-2, .container-flexbox-3-options-3, .container-flexbox-4-options-4, .container-flexbox-5-options-5, .container-flexbox-6-options-6, .container-flexbox-7-options-7, .container-flexbox-8-options-8, .container-flexbox-9-options-9, .container-flexbox-10-options-10
{
    margin-top: 10px;
    min-height: 200px;
   
    border-radius: 8px;
    background-color: #ee8572;

    

}


/* Buttons  */
.container-1 .button-1 , .container-1 .button-2 ,.container-1 .button-3, .container-1 .button-4, .container-1 .button-5, .container-1 .button-6, .container-1 .button-7,.container-1 .button-8, .container-1 .button-9, .container-1 .button-10
{
    margin-top: 10px;
    margin-bottom: 8px;
}


/*  Options Block ul li table format                           container 1 */

.container-flexbox-1 .container-flexbox-1-options-1 ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-flexbox-1 .container-flexbox-1-options-1 ul li{
    display: inline-block;
    background-color: wheat;
    width: 44%;
   /* float: left; */
    padding: 15px;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

/*  Options Block ul li table format                           container 2  */

.container-flexbox-2 .container-flexbox-2-options-2 ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-flexbox-2 .container-flexbox-2-options-2 ul li{
    display: inline-block;
    background-color: wheat;
    width: 44%;
    text-align: left;
    padding: 15px;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

/*  Options Block ul li table format                           container 3  */
.container-flexbox-3 .container-flexbox-3-options-3 ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-flexbox-3 .container-flexbox-3-options-3 ul li{
    display: inline-block;
    background-color: wheat;
    width: 44%;
    text-align: left;
    padding: 15px;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
    
}


/*  Options Block ul li table format                           container 4  */
.container-flexbox-4 .container-flexbox-4-options-4 ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-flexbox-4 .container-flexbox-4-options-4 ul li{
    display: inline-block;
    background-color: wheat;
    width: 44%;
    text-align: left;
    padding: 15px;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

/*  Options Block ul li table format                           container 5 */

.container-flexbox-5 .container-flexbox-5-options-5 ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-flexbox-5 .container-flexbox-5-options-5 ul li{
    display: inline-block;
    background-color: wheat;
    width: 44%;
   /* float: left; */
    padding: 15px;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

/*  Options Block ul li table format                           container 6,7,8,9 */

.container-flexbox-6 .container-flexbox-6-options-6 ul, .container-flexbox-7 .container-flexbox-7-options-7 ul,  .container-flexbox-8 .container-flexbox-8-options-8 ul, .container-flexbox-9 .container-flexbox-9-options-9 ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-flexbox-6 .container-flexbox-6-options-6 ul li, .container-flexbox-7 .container-flexbox-7-options-7 ul li, .container-flexbox-8 .container-flexbox-8-options-8 ul li, .container-flexbox-9 .container-flexbox-9-options-9 ul li{
    display: inline-block;
    background-color: wheat;
    width: 44%;
   /* float: left; */
    padding: 15px;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
    
}


/*  Options Block ul li table format                           container 10 */

.container-flexbox-10 .container-flexbox-10-options-10 ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-flexbox-10 .container-flexbox-10-options-10 ul li{
    display: inline-block;
    background-color: wheat;
    width: 44%;
   /* float: left; */
    padding: 15px;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.container-flexbox-11-1 h2{
    font-family: monospace;
    text-align: center ;
    padding: 10px;
    text-decoration: underline;

}

.container-flexbox-11-1
{
    
    width: 75%;
    position: relative;
    display: inline-block;
}

